form.js-new-rep-log-form .row {
    flex-wrap: wrap;
    gap: 1rem;
}
form.js-new-rep-log-form .row >.col {
    flex: 1 1 auto;
}

form.js-new-rep-log-form .row .col:last-child {
    max-width: fit-content;
}
/* fix btn delete rep before load icon */
.js-delete-rep-log {
    min-width: 32px;
    min-height: 31px;
}
.card-reps {
    overflow: hidden;
}
.card-info, .card-content {
    padding: 2rem;
}
.card-reps .card-info {
    background-color: var(--blue-color);
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-reps .card-info h6 {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0.6;
    margin: 0;
    font-size: 0.67rem;
}
.card-reps .card-info h2, .card-leaderboard h2.card-title {
    letter-spacing: 1px;
    font-size: 1.5rem;
    font-weight: bold;
}
.card-reps .card-info a {
    letter-spacing: 1px;
    font-size: 0.75rem;
    opacity: 0.6;
    text-decoration: none;
    color: inherit;
    display: block;
    margin-top: 30px;
}
/********* table rep *********/
.card-reps .card-content table {
    margin-bottom: 0;
}
.card-reps .card-content table tbody {
    display: flex;
    flex-flow: column nowrap;
}
.card-reps .card-content table tr{
    display: flex;
}
.card-reps .card-content table td {
 color: var(--grey-color);
}
.card-reps .card-content table tbody tr {
    margin-bottom: 10px;
}
.card-reps .card-content table tbody tr:first-child {
    margin-top: 10px;
}
.card-reps .card-content table tbody tr:last-child {
    margin-bottom: 20px;
}
.card-reps .card-content table thead tr th,
.card-reps .card-content table tbody tr td,
.card-reps .card-content table tfoot tr td
{
    flex: 1 1 25%;
    background-color: var(--grey-light-color);
}
.card-reps .card-content table tbody tr td:last-child,
.card-reps .card-content table tfoot tr td:last-child,
.card-reps .card-content table thead tr th:last-child
{
    max-width: 50px
}
.card-reps .card-content table thead tr th {
    background-color: white;
}
.card-reps .card-content table tbody td:first-child,
.card-reps .card-content table tfoot td:first-child
{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.card-reps .card-content table tbody td:last-child,
.card-reps .card-content table tfoot td:last-child
{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* for js animation */
.card-reps table tbody tr {
    opacity: 1;
    transition: opacity .5s;
}
.card-reps table tbody tr.hide {
    opacity: 0;
}
/* overflowY over 276px */
.card-reps .card-content .table-responsive {
    max-height: 276px;
}

/******* Modal Items Info *********/
#itemInfoModal table {
    margin-bottom: 0;
}
#itemInfoModal table thead {
    background-color: var(--blue-color);
    color: var(--white-color);
}
#itemInfoModal table thead tr th {
    font-weight: 300;
    font-size: 14px;
}
#itemInfoModal table thead tr th:first-child {
    border-top-left-radius: 6px;
}
#itemInfoModal table thead tr th:last-child {
    border-top-right-radius: 6px;

}

/* leaderboard table */
.panel-wrapper .panel table {
    border-collapse: separate;
    border-spacing: 0 10px;
    margin: -10px 0;
}
.panel-wrapper .panel table tbody td{
    background-color: #f7f7f7;
    color: gray;
    padding: 10px 0;
}
.panel-wrapper .panel table tbody td:first-child{
    border-radius: 10px 0 0 10px;
}
.panel-wrapper .panel table tbody td:last-child{
    border-radius: 0 10px  10px 0;
}
/* leaderboard accordion */
/* Style the buttons that are used to open and close the accordion panel */
.accordion-btn {
    background-color: var(--blue-color);
    color: var(--white-color);
    border-radius: .375rem;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid rgba(0,0,0,.175);
    width: 100%;
    text-align: left;
    transition: border-radius .3s;
    display: flex;
    justify-content: space-between;
}
.accordion-custom.show .accordion-btn{
    border-radius: .375rem .375rem 0 0;
}
.accordion-btn i {
    transition: transform .3s;
}
.accordion-btn:hover {
    background-color: var(--blue-hover-color);
    border: 1px var(--blue-hover-color) solid;
}
.accordion-btn.active {
    border-radius: .375rem .375rem 0 0;
}
.accordion-custom.show .accordion-btn.active {
    border-radius: .375rem;
}
/* Style the accordion panel. Note: hidden by default */
.panel-wrapper {
    padding: 0 2rem;
    background-color: var(--white-color);
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-out;
}
.accordion-custom.show .panel-wrapper {
    max-height: fit-content;
}
.panel {
    padding: 1rem 0 2rem;
}
.panel .table-responsive {
    max-height: 265px;
}

/* style for screen >= 576px */
@media (min-width: 576px) {
    form.js-new-rep-log-form .row {
        flex-wrap: nowrap;
        gap: 0;
    }
}