form[name="lift_form"] .row {
    flex-wrap: wrap;
    gap: 1rem;
}
form[name="lift_form"] .row >.col {
    flex: 1 1 auto;
}

form[name="lift_form"] .row .col:last-child {
    max-width: fit-content;
}

/* style for screen >= 576px */
@media (min-width: 576px) {
    form[name="lift_form"] .row {
        flex-wrap: nowrap;
        gap: 0;
    }
}
.card-reps {
    overflow: hidden;
}
.card-info, .card-content {
    padding: 2rem;
}
.card-reps .card-info {
    background-color: var(--blue-color);
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-reps .card-info h6 {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0.6;
    margin: 0;
    font-size: 0.67rem;
}
.card-reps .card-info h2 {
    letter-spacing: 1px;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0;
}
.card-reps .card-info a {
    letter-spacing: 1px;
    font-size: 0.75rem;
    opacity: 0.6;
    text-decoration: none;
    color: inherit;
    display: block;
    margin-top: 30px;
}
/* table rep*/
.card-reps .card-content .table-responsive {
    height: fit-content;
    max-height:210px;
}
.card-reps .card-content table {
    border-collapse: separate;
    border-spacing: 0 10px;
    margin: -10px 0 0 0;
}
tbody::after
{
    content: '';
    display: block;
    height: 5px;
}
.card-reps .card-content table td {
    background-color: #f7f7f7;
    color: gray;
    padding-top: 10px;
    padding-bottom: 10px;
}
.card-reps .card-content table td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.card-reps .card-content table td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--scroll-bar-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:var(--blue-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--blue-hover-color);
}
.table-responsive {
    padding-right: 5px;
    overflow-y: scroll;
    scrollbar-color: var(--blue-color) #c9c8c8;
    scrollbar-width: thin;
}

/* Modal Items Info */
#itemInfoModal table {
    margin-bottom: 0;
}
#itemInfoModal table thead {
    background-color: var(--blue-color);
    color: var(--white-color);
}
#itemInfoModal table thead tr th {
    font-weight: 300;
    font-size: 14px;
}
#itemInfoModal table thead tr th:first-child {
    border-top-left-radius: 6px;
}
#itemInfoModal table thead tr th:last-child {
    border-top-right-radius: 6px;

}
