main {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* card */
.card-login {
    display: flex;
    flex-direction: row-reverse;
    width: 80%;
    height: 790px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    border: none;
}
/* card side image */
.card-img {
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    padding: 1rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.card-img .author{
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-end;
    color: var(--white-color);
    align-items: center;
    gap: 0.5rem
}
.card-img .author img {
    border-radius: 50%;
}
/* card side form */
.card-body{
    flex: 1;
    padding: 2rem;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-body h5 {
    color: var(--sand-color);
}

.wrapper-login-action {
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.wrapper-login-action > * {
    flex: 1
}