@font-face {
    src: url("../font/Mulish-VariableFont_wght.ttf");
    font-family: 'Mulish';
}
:root {
    --sand-color: #dd9a6f;
    --sand-dark-color: #ce9975;
    --white-color: #fff;
    --blue-color: #2A265F;
    --blue-hover-color: #7271bb;
    --blue-hover-rbga-color: rgba(114, 113, 187, .25);
    --scroll-bar-color: #f1f1f1;
    --grey-color: #808080FF;
    --grey-light-color: #f7f7f7;
    --nav-buttom-color: #dee2e6;

    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
}
body {
    background-color: var(--bs-gray-200);
    font-family: 'Mulish', sans-serif;
}
.wrapper-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
body > .wrapper-flex > .container {
    display: flex;
    flex-direction: column;
}
body > .wrapper-flex > .container-lg {
    margin-left: 5px;
    margin-right: 5px;
    max-width: 100%;
}
/* NAVBAR */
.navbar {
    background-color: var(--white-color);
    align-items: flex-start;
    padding: 0;
    box-shadow: 0.125em 0 0.5em rgba(0, 0, 0, 0.2);
    width: 150px;
    flex: 0 0 auto;
    margin-left: -90px;
    transition: margin-left .3s ease-out;
}
.navbar.active {
    margin-left: 0;
}
.navbar .wrapper-nav {
    display: flex;
    flex-direction: column;

    width: 100%;
    position: sticky;
    top: 0;
}
.navbar .wrapper-nav .navbar-items {
    list-style: none;
    padding: 0;
    color: var(--blue-color);
}
.navbar a.brand {
    color: var(--blue-color);
    width: 100%;
    height: 60px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    border-bottom: 1px solid var(--nav-buttom-color);
    padding: 0 17px 0 10px;
}
.navbar a.brand > span {
    font-size: 1rem;
    font-weight: 600;
}
.navbar .navbar-items {
    width: 100%;
}
.navbar .navbar-items > li {
    height: 60px;
    border-bottom: 1px solid var(--nav-buttom-color);
}
.navbar .navbar-items > li > a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 10px;
}
.navbar .navbar-items > li > a > i{
    font-size: 1.2rem;
}
.navbar a.active {
    background-color: var(--blue-color);
    color: var(--white-color);
}
/* NAVBAR END */
main {
    flex: 1 0 auto;
    min-height: 100vh;
}

.btn-custom {
    background-color: var(--sand-color);
    color: var(--white-color);
}
.btn-blue {
    background-color: var(--blue-color);
    border: 1px solid var(--blue-color);
    color: var(--white-color);
}
.btn-outline-custom {
    color: var(--sand-color);
    border: 1px var(--sand-color) solid;
}

/* hover, active , focus */
.btn-outline-custom:hover, .btn-outline-custom:active, .btn-outline-custom:focus{
    background-color: var(--sand-dark-color);
    color: var(--white-color);
    border: 1px var(--sand-dark-color) solid;
}

.btn-custom:hover, .btn-custom:active, .btn-custom:focus{
    border: 1px var(--sand-dark-color) solid;
    background-color: var(--sand-dark-color);
    color: var(--white-color);
}
.btn-blue:hover, .btn-blue:active, .btn-blue:focus {
    background-color: var(--blue-hover-color);
    border: 1px solid var(--blue-hover-color);
    color: var(--white-color);
}
.btn-blue[type="submit"]:active, .btn-blue[type="submit"]:focus {
    background-color: var(--blue-color);
    border: 1px solid var(--blue-color);
    color: var(--white-color);
}

.btn-blue:focus {
    box-shadow: 0 0 0 .25rem var(--blue-hover-rbga-color);
}

/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--scroll-bar-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:var(--blue-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--blue-hover-color);
}
.table-responsive {
    padding-right: 5px;
    /*overflow-y: scroll;*/
    scrollbar-color: var(--blue-color) #c9c8c8;
    scrollbar-width: thin;
}


