{% set current_path = app.request.attributes.get('_route') %}

<nav class="navbar">
    <ul>
        <li class="navbar-toggle">
            <a href="#" class="navbar-toggle-link">
                <span class="navbar-icon">
                <i class="fa-solid fa-bars"></i>
            </span>
            </a>
        </li>
        <li>
            <a href="{{ path('login') }}" class="nav-link{% if (current_path == 'login') %} current{% endif %}">
                <span class="navbar-icon">
                    <i class="fa-solid fa-user"></i>
                </span>
                <span class="navbar-helper">Login</span>
            </a>
        </li>
        <li>
            <a href="{{ path('home') }}" class="nav-link{% if (current_path == 'home') %} current{% endif %}">
                <span class="navbar-icon">
                    <i class="fa-solid fa-house"></i>
                </span>
                <span class="navbar-helper">Home</span>
            </a>
        </li>
        <li>
            <a href="{{ path('logout') }}">
                <span class="navbar-icon">
                    <i class="fa-solid fa-power-off"></i>
                </span>
                <span class="navbar-helper">Logout</span>
            </a>
        </li>
    </ul>
</nav>